<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/cloud.png">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>404</title>
    </head>
    <body>
        <div class="main-content">
                    {{>headder}}
        <p>{{error}}</p>
        </div>

        {{>footer}}
    </body>
</html>