<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/cloud.png">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>headder}}
        <img class='portrait' src="/img/he.png">
        </div>
        {{>footer}}
    </body>
</html>