<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/cloud.png">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>headder}}
            <a href="https://github.com/neel004/nodejs-weather-website">Read Docs</a>
        </div>
        
        {{>footer}}
    </body>
</html>